@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}

body{
   background: #062775;
background: linear-gradient(90deg, rgba(6, 39, 117, 1) 0%, rgba(45, 102, 156, 1) 76%, rgba(47, 124, 196, 1) 100%);
    margin: 0;
    padding: 0;
}

.navbar{
    margin-top: 5px;
    height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   margin: auto;
   align-items: center;
}
.nav-left{
    display: flex;
    gap: 18px;
    align-items: center;
    flex-wrap: wrap;
    
}
.nav-right{
    display: flex;
    gap:10px;
    align-items: center;
    flex-wrap: wrap;
     
}
.nav-left h2{
    color: white;
    margin: 10px;
    padding: 10px;
}
select{
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
  color: rgb(136, 150, 209);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
}
a:hover{
    text-decoration: underline;
   text-underline-offset: 5px;
  text-decoration-color: rgb(192, 176, 176);
  transition: all 0.3s ease;
}
button{
    background-color: transparent;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
}
.btn1{
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(218, 218, 218);
    font-weight: 600;
    outline: 1px solid white;
    padding-right: 45px;
    text-align: left;
}
.btn1:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.3s ease;
}
.btn2{
    padding: 10px 20px;
    background-color: rgb(43, 38, 38);
    color: white;
    font-weight: 600;
    padding-right: 35px;
    text-align: left;
    
}
.btn2:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.3s ease;
}
.continer{
    color: white;
    text-align: left;
    width: 65%;
    margin-left: 25px;
}
.continer h1{
    font-size: 40px;
    margin-top: 9%;
    margin-bottom: 25px;
    animation: moveright 1s ease-in-out;
}
.continer p{
    font-size: 17px;
    margin-top: 10px;;
    line-height: 1.5;
    color: rgb(136, 150, 209);
    font-weight: 500;
    
}
.p1{
    animation: moveright 1s ease-in-out;
}
.signup{
    color: white;
    background-color: rgb(69, 128, 216);
    padding: 17px 30px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
   animation: btnmoment 1s ease-in-out;
    
}
.signup:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.3s ease;
}
.install{
    color: white;
    background-color:transparent;
    padding: 15px 30px;
    font-size: 14px;
    border: 1px solid rgb(89, 135, 204);
    border-radius: 8px;
    cursor: pointer;
    animation: btnmoment 1s ease-in-out;
    
}
.install:hover{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.3s ease;
    }
.heading{
    font-size: 16px;
    margin-top: 60px;
    line-height: 1.5;
    color: rgb(136, 150, 209);
    font-weight: 500;
    margin-bottom:0 ;
    animation: moveright 1s ease-in-out;
}

.items{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    animation: itemsmov 1s ease-in-out;

}
.item p{
    margin-top: 0;
    margin-bottom: 10px;
}
.item h3{
    margin-bottom: 0;
}
@keyframes moveright {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes  btnmoment {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
   
}
@keyframes itemsmov {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 750px) {

 .nav-left h2{
    font-size: 50px;
    margin-right: 0;
}

.nav-left a ,select{
    display: none;
}
.nav-right a,.btn1{
    display: none;
} 
.signup{
    margin-bottom: 10px;
}
.btn2{
    margin-top: 10px;
   margin-left: 45px;
    margin-right: 0;
    padding: 8px 30px;
    text-align: center;
}
}

@media (max-width:1024px){
.navbar{
    width: 100%;
}
h2{
    font-size: 50px;
}
.nav-left{
    width: 50%;
}
.nav-left a ,select{
    display: none;
}
.nav-right a{
    display: none;
} 
.nav-right{
    padding-left: 150px;
    margin-top: 10px;
    width: 30%;
    align-items: end;
}
}